.comand {
  background-color: $button-bg-color;

  @media screen and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.comand__title {
  color: $primary-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (max-width: 767px) {
    width: 480px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    // width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.comand__list {
  justify-content: center;

  @media screen and (max-width: 767px) {
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    display: flex;
  }
}

.comand__person {
  margin: 0 0 10px 0;

  color: $primary-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.comand__item {
  margin-left: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: $primary-bg-color;

  @media screen and (max-width: 767px) {
    width: 450px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    margin-bottom: 30px;
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.comand-dream__link {
  margin: 0 0 16px;

  color: $title-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.comand__wrapper {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.comand-social__list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  color: $primary-bg-color;
}

.comand-reps__icon {
  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.comand-social__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  fill: #afb1b8;
  color: var(--primary-bg-color);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: currentColor;
  }
}
