* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $primary-bg-color;
  color: $primary-text-color;

  font-family: "Roboto", sans-serif;
  letter-spacing: -0.02em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}
